.nav{
    background-color: $black;
    font-family: $ubuntu;
    height: auto;
    justify-content: space-between;
    &__toggler{
        position: absolute;
        left: -100vw;
    }
    &__logo{
        padding-left: 1em;
    }
    &__label{
        position: absolute;
        right: 2em;
        top: 0.3em;
        color: $white;
    }

    &__links{
        max-height: 0;
        overflow: hidden;
        background: $black;
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        li{
            background: $black;
        }
    }
    #toggler:checked ~ &__links {
        max-height: 450px;
        transition: max-height 0.3s ease-in;
    }
    &__link{
        background: $black;
        display: block;
        font-size: 1em;
        color: $white;
        text-decoration: none;
        padding: 2em;
        font-weight: $bold;
    }
}
@media (min-width: 992px) {
    .nav{
        display: inline-flex;
        position: relative;
        width: 100%;
        justify-content: space-between;
        &__label{
            display: none;
        }
        &__links{
            display: flex;
            position: relative;
            height: auto;
            max-height: 80px;
            width: auto;
        }
    }
    
}